<div layout="column" ng-cloak class="md-inline-form">
  <md-content md-theme="docs-dark" layout-padding>
    <div>
      <form name="clanForm">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Clan Name</label>
          <input ng-model="clan.firstName">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Clan Website</label>
          <input ng-model="theMax">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Clan Abbreviation</label>
          <input ng-model="clan.address">
        </md-input-container>
      </form>
    </div>
  </md-content>
</div>