<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/tiles.css">
    <link rel="stylesheet" href="styles/font-awesome.css">


    
    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-cookie/angular-cookie.js"></script>
    <script src="bower_components/ng-token-auth/dist/ng-token-auth.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/AuthTokenFactory.js"></script>
        <script src="scripts/services/AuthFactory.js"></script>
        <script src="scripts/interceptors/ResponseInterceptor.js"></script>
        <script src="scripts/services/GameFactory.js"></script>
        <script src="scripts/services/ConsoleFactory.js"></script>
        <script src="scripts/services/GroupFactory.js"></script>
        <script src="scripts/services/LadderFactory.js"></script>
        <script src="scripts/services/ClanFactory.js"></script>
        <script src="scripts/services/UserFactory.js"></script>
        <script src="scripts/controllers/NavBarCtrl.js"></script>
        <script src="scripts/controllers/AuthCtrl.js"></script>
        <script src="scripts/controllers/HomeCtrl.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/ConsoleCtrl.js"></script>
        <script src="scripts/controllers/LadderCtrl.js"></script>
        <script src="scripts/controllers/GameCtrl.js"></script>
        <script src="scripts/controllers/ClanCtrl.js"></script>
        <script src="scripts/controllers/UserCtrl.js"></script>
        <!-- endbuild -->
        <script src="scripts/vendor/modernizer.js"></script>


  </head>
  <body ng-app="clutchApp">
    <div class="container">
          <ul id="gn-menu" class="gn-menu-main" ng-controller="NavBarCtrl">
            <li class="gn-trigger">
              <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
              <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                  <ul class="gn-menu">
                    <li class="gn-search-item">
                      <input placeholder="Search" type="search" class="gn-search">
                      <a class="gn-icon gn-icon-search"><span>Search</span></a>
                    </li>
                    <li ui-sref="home" ng-click="toggleSidenav('left')"><a class="gn-icon gn-icon-download">Home</a></li>
                    <li ui-sref="about" ng-if="signedIn" ng-click="toggleSidenav('left')"><a class="gn-icon gn-icon-download">About</a></li>
                    <li ui-sref="consoles" ng-click="toggleSidenav('left')"><a class="gn-icon gn-icon-download">Consoles</a></li>
                    <li ui-sref="login" ng-if="!signedIn" ng-click="toggleSidenav('left')"><a class="gn-icon gn-icon-download">Sign In</a></li>
                    <li ui-sref="register" ng-if="!signedIn" ng-click="toggleSidenav('left')"><a class="gn-icon gn-icon-download">Register</a></li> 
                    <li ng-click='logout()' ng-if="signedIn" ng-click="toggleSidenav('left')"><a class="gn-icon gn-icon-download">Sign out</a></li>
                  </ul>
                </div><!-- /gn-scroller -->
              </nav>
            </li>
            <li><a href="http://tympanus.net/codrops">Clutch Gaming</a></li>
        
            <li><a class="gn-icon gn-icon-cog"></a></li>
          </ul>
          <div class="content header" ui-view>
             
          </div> 
        </div>
        <!-- /container -->
        <script src="scripts/vendor/classie.js"></script>
        <script src="scripts/vendor/menu.js"></script>
        <script>
          new gnMenu( document.getElementById( 'gn-menu' ) );
        </script>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

</body>
</html>
