<h1>PROFILE</h1>

<form ng-submit="updateProfile(profileForm)" role="form" ng-init="profileForm = {}">

  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text"
           name="firstName"
           id="firstName"
           ng-model="profileForm.firstName"
           required="required"
           class="form-control">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text"
           name="lastName"
           id="lastName"
           ng-model="profileForm.lastName"
           required="required"
           class="form-control">
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text"
           name="username"
           id="username"
           ng-model="profileForm.username"
           required="required"
           class="form-control">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email"
           name="email"
           id="email"
           ng-model="profileForm.email"
           required="required"
           class="form-control">
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Update</button>
</form>

<div class="alert alert-danger" role="alert" ng-show="error">
  {{error}}
</div>